[submodule "031 KOReader Highlight Sync"]
	path = 031 KOReader Highlight Sync
	url = https://github.com/gitalexcampos/koreader-Highlight-Sync
[submodule "031 - KOReader Highlight Sync"]
	path = 031 - KOReader Highlight Sync
	url = https://github.com/gitalexcampos/koreader-Highlight-Sync
